// 版心
$container: 1200px; 
//主题se
$main-color:#00aab7;
//文字颜色
$text-gray:#a0a0a0;
//鼠标选中背景颜色
$Select-bg: #f5f5f5;
//定义浏览器内核属性
@mixin webkit ($type, $value){
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -ms-#{$type}: $value;
    -o-#{$type}: $value;
    #{$type}: $value;
}

// 超出显示省略号
@mixin ell($value) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $value;
     overflow: hidden;
}